.btnСhooseClient {
  cursor: pointer;
  padding: 0px 10px;
  border: 2px solid var(--color-dark-100);
  border-radius: 7px;
  background: none;
  transition: 0.3s;

  &:hover {
    border: 2px solid var(--color-success-300);
  }
}
.editButton {
  margin-left: 10px;
  cursor: pointer;
  &:hover {
    path {
      fill: var(--color-info-500);
    }
  }
}
.box {
  display: flex;
  align-items: center;
}
.row {
  width: 80%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-light-100);
}
