.button {
  margin-bottom: 10px;
  color: var(--color-accent-100) ;
  svg path {
    fill: var(--color-accent-100)
  }
}

.icon {
  margin-right: 10px;
}

.tableWrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
}

.briefcase {
  display: flex;
  flex-direction: column;
}